@model Company;

<div class="container">
    <div>
        <p>@Model.Name - @Model.Desk</p>
        <p>Адресс: @Model.Adress</p>
        <div>
            Телефоны:
            <p>@Model.PhoneNumber1</p>
            <p>@Model.PhoneNumber2</p>
        </div>
    </div>
</div>